@font-face{
    font-family: "Vazir-Bold";
    src: url("/fonts/Vazir-Bold.ttf") format("ttf");
}
*{
    box-sizing: border-box;
    margin: 0;
}
body{
    font-family: "Vazir-Bold" , sans-serif;
    
}
.container{
    width: 1216px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 56px;

}
.header-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;



}
.section-title{
    display: flex;
    align-items: center;
    gap: 6px;


}
.section-title-icon{
    width: 22px;
    height: 22px;
    color: #1E88E5;

}
.section-link{
    color: #1E88E5;
    text-decoration: none;

}
.row{
    display: flex;
    gap: 24px;

}
.product{
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08);
    padding: 24px;


}
.product-image{
    width: 100%;

}
.product-name{
    font-size: 14px;
    font-weight: bold;
    margin-top: 14px;
    line-height: 1.5;
    height: 68px;

}
.product-link{
    text-decoration: none;
    color: #212121;

}
.product-offer{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 16px;

}
.product-offer-percent{
    background-color: #FFCDD2;
    color: #E53935;
    font-weight: bold;
    font-size: 14px;
    padding: 2px 4px;
    display: inline-block;
    border-radius: 8px;

}
.product-offer-price{
    font-size: 14px;
    text-decoration: line-through;
    color: #78909C;

}
.product-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;

}
.product-price{
    display: flex;
    align-items: center;
    gap: 6px;

}
.product-price-number{
    font-weight: bold;
    font-size: 18px;

}
.product-price-unit{
    font-size: 14px;

}
.product-rating{
    display: flex;
    align-items: center;
    gap: 4px;


}
.product-rating-number{
    font-size: 16px;
    font-weight: bold;

}
.product-rating-icon{
    width: 18px;
    height: 18px;
    color: #FDD835;

}